/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #081424;
}

::-webkit-scrollbar{
    width: "5px";
	background-color: #ccc;
}

::-webkit-scrollbar-track{
    width: "5px";
}

::-webkit-scrollbar-thumb{
    background: #869ba9;
    border-radius: "5px";
    width: "5px";
}