/*
@keyframes logoRotate {
    100%{transform: rotate(-5deg) translateY(-65%); visibility: visible;}
}

@keyframes popInNav {
    0%{opacity: 0; filter: blur(2px); transform: translateY(20%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInRedes {
    0%{opacity: 0; filter: blur(3px); transform: translateY(40%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInContainerText {
    0%{opacity: 0; filter: blur(4px); transform: translateY(90%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInContainer {
    0%{opacity: 0; filter: blur(5px); transform: translateY(100%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

.logo:hover .logoAnimation{
    
    animation: logoRotate 600ms;
}

.nav{
    animation: popInNav 500ms linear;
}

.contenedor .redes{
    animation: popInContainer 500ms linear;
}

.contenedor p{
    animation: popInContainer 500ms linear;
}

.contenedor{
    animation: popInContainer 500ms linear;
}

.contenedor{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.nav, .cuerpo > section{
    scroll-snap-align: start;
}
*/

@keyframes leftSlide {
    0%{visibility: visible; filter: blur(5px); transform: translateX(-100%);}
    100%{opacity: 1; filter: blur(0); transform: translateX(0);}    
}

@keyframes rightSlide {
    0%{visibility: visible; filter: blur(5px); transform: translateX(100%);}
    100%{ opacity: 1; filter: blur(0); transform: translateX(0);}    
}

.icons:hover {
    transition-duration: 200;
    opacity: 1;
}

.sec-2.gridContainer {
    visibility:hidden;
}
.sec-2.scrollAnimation .gridContainer{
    animation: leftSlide 300ms;
}

.sec-3.gridContainer {
    visibility:hidden;
}
.sec-3.scrollAnimation .gridContainer{
    animation: rightSlide 300ms;
}