/*
@keyframes logoRotate {
    100%{transform: rotate(-5deg) translateY(-65%); visibility: visible;}
}

@keyframes popInNav {
    0%{opacity: 0; filter: blur(2px); transform: translateY(20%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInRedes {
    0%{opacity: 0; filter: blur(3px); transform: translateY(40%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInContainerText {
    0%{opacity: 0; filter: blur(4px); transform: translateY(90%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

@keyframes popInContainer {
    0%{opacity: 0; filter: blur(5px); transform: translateY(100%); }
    100%{opacity: 1; filter: blur(0); transform: translateY(0); }
}

.logo:hover .logoAnimation{
    
    animation: logoRotate 600ms;
}

.nav{
    animation: popInNav 500ms linear;
}

.contenedor .redes{
    animation: popInContainer 500ms linear;
}

.contenedor p{
    animation: popInContainer 500ms linear;
}

.contenedor{
    animation: popInContainer 500ms linear;
}
*/